<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik.com" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="ufQLSRpLqUeYaaCvklY1Qg==.GnZJeSw68seJ3cUV1GNRLR/C3xia8hXAZ1jGoFuuvcS7zXQ1vwjArFRnqhomXOIasD08+qhIUeZTebRn/InaDg==" />
    </telerik.com>
  </packageSourceCredentials>
</configuration>